{% include "header.html" %}

<h2>Add Item</h2>
<div>
    <form action="#" method = "post">
		<div class="form-group">
			<label for="name" >Title:</label>
				<input type ="text" name="name" required>
            </br></br></br>
			<label for="description">Description:</label>
				<textarea rows="3" name="description" required></textarea>
            </br></br></br>
            <label for="category">Category:</label>
                <select name="category" required>
                    {% for category in categories %}
                        <option value={{category.id}}>{{category.name}}</option>
                    {% endfor %}
                </select>
            </br></br></br>
            <button type="submit" type="submit">
                </span>Add</button>
            <a href = '{{url_for('showCatalog')}}'>
                Cancel
            </a>
		</div>
    </form>
</div>
